html {
  --themecolor: #54a3d8;
}
body, #volumeslider {
  background: #ddd;
}
#volumeslider > div {
  background: #656565;
}
@media screen and (max-width: 820px) {
  #video:not(.fs) .videobar {
    border-bottom: 3px solid var(--themecolor);
  } 
}
#infobox {
  border-top-color: #0003;
}
.red {
  color: #0ff;
}
.green {
  color: #ff7fff;
}
.label.green {
  background: #ff7fff;
  color: #000;
}
.label.red {
  background: #0ff !important;
  color: #000;
}
#main > div {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, .3);
  background: #fff;
  border-bottom: 3px solid var(--themecolor);
  border-radius: 20px 0 20px 0;
}
.label {
  background: #eee;
}
#modals .label:not(.green) {
  background: #444;
}
.videobar, #navbar {
  background: #fff;
}
#navbar, #navbar .videobar {
  border-bottom: 3px solid var(--themecolor);
}
#navbar, #video, #navbar .videobar {
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}
#video {
  border-top-left-radius: 20px;
  overflow: hidden;
}
a, #navbar > div > span > span, #navbar > div > div > button, input[type="number"], .smartmenu, .videobar {
  color: #222;
}
#modals a, #learnmore > div:nth-child(3) > div > span, #query, #findstation {
  color: #fff;
}
#main > div {
  color: #222;
}
#video {
  border-top: 3px solid var(--themecolor);
}
path {
  fill: #222;
}
#hint > div {
  background: #222;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, .5);
}
input {
  background: #fff;
  color: #222;
}
#modals select {
  background: #343434;
}
#modals select, #modals input, #modals button {
  color: #fff;  
}
#modals, #footer, #addfooter {
  background: rgba(34, 34, 34, .9);
  color: #fff;
}
select, input:not(#query) {
  border-bottom: 2px solid rgba(0, 0, 0, .5) !important;
}
#addstation > div > div:nth-child(1), #modals select, #modals input:not(#query), .monthseparator {
  border-bottom: 2px solid rgba(255, 255, 255, .5) !important;
}
#volumeline, #volumecircle {
  background: #222;
}
#visualization > div {
  background: #000;
}
#progressbar {
  background: var(--themecolor);
}
