html {
  --themecolor: #54a3d8;
}
body, #volumeslider {
  background: #333;
}
#volumeslider > div {
  background: #c6c6c6;
}
@media screen and (max-width: 820px) {
  #video:not(.fs) .videobar {
    border-bottom: 3px solid var(--themecolor);
  } 
}
#infobox {
  border-top-color: #fff5;
}
#main > div {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, .3);
  background: #444;
  border-bottom: 3px solid var(--themecolor);
  border-radius: 20px 0 20px 0;
}
.label {
  background: #555;
}
#modals .label:not(.green) {
  background: #ddd;
}
.videobar, #navbar {
  background: #444;
}
#navbar, #navbar .videobar {
  border-bottom: 3px solid var(--themecolor);
}
#navbar, #video, #navbar .videobar {
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}
#video {
  border-top-left-radius: 20px;
  overflow: hidden;
}
a, #navbar > div > span > span, #navbar > div > div > button, input[type="number"], .videobar, #tomove {
  color: #fff;
}
#modals a, #learnmore > div:nth-child(3) > div > span, #query, #findstation {
  color: #000;
}
#main > div {
  color: #fff;
}
#video {
  border-top: 3px solid var(--themecolor);
}
#hint > div {
  background: #fff;
  color: #000;
  border: 2px solid rgba(34, 34, 34, .5);
}
select, input {
  background: #444;
  color: #fff;  
}
#modals select, #modals input, #modals button {
  color: #000;
}
#modals select {
  background: #ebebeb;
}
select:-moz-focusring {
  text-shadow: 0 0 0 #fff;
}
tr:hover .smartmenu {
  background: #3d3d3d;
}
#modals, #footer, #addfooter {
  background: rgba(255, 255, 255, .9);
  color: #000;
}
select, input:not(#query) {
  border-bottom: 2px solid rgba(255, 255, 255, .5) !important;
}
#addstation > div > div:nth-child(1), #modals select, #modals input:not(#query), .monthseparator {
  border-bottom: 2px solid rgba(0, 0, 0, .5) !important;
}
#volumeline, #volumecircle {
  background: #eee;
}
#progressbar {
  background: var(--themecolor);
}
