html {
  --themecolor: #54a3d8;
}
body {
  background: #333;
}
#volumeslider {
  background: #bbb;
}
#volumeslider > div {
  background: #484848;
}
#infobox {
  border-top-color: #0003;
}
.red {
  color: #0ff;
}
.green {
  color: #ff7fff;
}
.label.green {
  background: #ff7fff;
  color: #000;
}
.label.red {
  background: #0ff !important;
  color: #000;
}
.label {
  background: #555;
}
#navbar {
  background: rgba(255, 255, 255, .9);
}
#navbar > div > span > span, #navbar > div > div > button, .button-primary, .videobar a {
  color: #000;
}
a, #learnmore > div:nth-child(3) > div > span, #findstation, #query, input[type="number"], #tomove, #modals button {
  color: #fff;
}
path {
  fill: #000;
}
#main > div, #modals > div {
  background: #444;
  color: #fff;
}
#hint > div {
  background: #fff;
  color: #000;
  border: 2px solid rgba(34, 34, 34, .5);
}
select, input {
  background: #444;
  color: #fff;
}
select:-moz-focusring {
  text-shadow: 0 0 0 #fff;
}
tr:hover .smartmenu {
  background: #3d3d3d;
}
#footer, #addfooter, .videobar {
  background: rgba(255, 255, 255, .9);
  color: #000;
}
#addstation > div > div:nth-child(1), select, input:not(#query), .monthseparator {
  border-bottom: 2px solid rgba(255, 255, 255, .5) !important;
}
#modals {
  background: #444;
}
#volumeline, #volumecircle {
  background: #eee;
}
#progressbar {
  background: var(--themecolor);
}
.videobar .label {
  background: #ddd;
  color: #000;
}
