html {
  --themecolor: #54a3d8;
}
body {
  background: #ddd;
}
#volumeslider {
  background: #555;
}
#volumeslider > div {
  background: #c2c2c2;
}
#infobox {
  border-top-color: #fff5;
}
.label {
  background: #eee;
}
#navbar {
  background: rgba(34, 34, 34, .9);
}
#navbar > div > span > span, #navbar > div > div > button, .button-primary, .videobar a {
  color: #fff;
}
a, #learnmore > div:nth-child(3) > div > span, #findstation, #query, input[type="number"], .smartmenu, #modals button {
  color: #222;
}
#main > div, #modals > div {
  background: #fff;
  color: #222;
}
#hint > div {
  background: #222;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, .5);
}
input {
  background: #fff;
  color: #222;
}
#footer, #addfooter, .videobar {
  background: rgba(34, 34, 34, .9);
  color: #fff;
}
#addstation > div > div:nth-child(1), select, input:not(#query), .monthseparator {
  border-bottom: 2px solid rgba(0, 0, 0, .5) !important;
}
#modals {
  background: #fff;
}
#volumeline, #volumecircle {
  background: #222;
}
#visualization > div {
  background: #000;
}
#progressbar {
  background: var(--themecolor);
}
.videobar .label {
  background: #444;
  color: #fff;
}
